header ul li {
  float: left;
}


nav ul li{
  clear: both;
  width: 210px;
}

nav li a{
  margin-right: 44px,
}
#contents{
  margin: 0 auto;
  width: 840px;
}
#graphic ul{
  margin: 0 0 26 0;
  padding-left: 0;
  list-style-type: none;
}

#bankcode{
  margin-top: 40px;
  margin-right: 50px;
}

#sitemap{
  margin-top: 20px;
}
